body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #2b2b2b;
    color: #ffffff;
}

.content-wrapper {
    display: flex;
    height: calc(100vh - 95px);
    margin-top: 95px;
}

#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #363636;
    order: 2;
}

#code-display {
    flex-grow: 1;
    padding: 20px;
    background-color: #2b2b2b;
    overflow-y: auto;
    border: 1px solid #444;
    border-radius: 4px;
}